<div id="raw-data-checkbox" class="mod-icons-root">
  <div class=check-box title="Toggle raw data">
    <label :for="name">
      <img :src="asset_url('database_icon.png')" width="20px" height="20px">
    </label>
    <input type="checkbox" v-model="checked" :id="name">
  </div>
</div>
