<div id="power">
  <div class=content v-cloak
       v-if="boostset_data">

    <div class=power-header>
      <div class=power-title>
        <div v-for="(borders, count) in boost_icon_borders"
             style="position:relative; left:0; top:0">
          <div :style="`position: relative; left: ${count*66}px; top: 0;`">
            <div>
              <img width="32px" height="64px" style="position:absolute; left:0; top:0;"
                   :src="borders[0]"/>
              <img width="32px" height="64px" style="position:absolute; left:32; top:0;"
                   :src="borders[1]"/>
              <img width="64px" height="64px" style="position:absolute; left:8; top:8;"
                   :src="boost_pog"/>
              <img width="64px" height="64px" style="position:absolute; left:9; top:8;"
                   :src="boost_icon"/>
            </div>
          </div>
        </div>
        <div :style="`height:72px; display:flex; align-items: center`">
          <h1 class=power-name :style="`position:relative; left:${boost_icon_borders.length*66}px; top:-4; font-size:160%`">
            {{boostset_data.display_name}}
          </h1>
        </div>
      </div>
    </div>
    <div class="main-data ">
      <div class=flex-col style="width:auto">
        <span><b>Member of:</b> {{boostset_data.group_name}}</span>
        <span><b>Minimum Level:</b> {{boostset_data.min_level}}</span>
        <span><b>Maximum Level:</b> {{boostset_data.max_level}}</span>
        <b>Allowed Conversions:</b>
        <ul class=tight-list>
          <li v-for="group in boostset_data.conversion_groups">
            <b>{{group.split(": ")[0]}}:</b> {{group.split(": ")[1]}}
          </li>
        </ul>

        <div style>
        <span class="short-desc minor-heading">Set Pieces</span>

        <button name=pieces-help class="data-button cod-theme">
          <img width="16px" height="16px"
               :src="asset_url('question-mark.png')" alt="question-mark.png"/>
        </button>
        <tippy v-cloak
               to="pieces-help"
               :arrow=true
               :allowHTML=true
               :ignoreAttributes=true
               animation=scale
               theme=cod>
           <span style="margin:1em">
             Pieces in the boost set.<div style="height:0.6em"></div>
             You may only slot one of each piece in a given power, but the order
             of the pieces is not meaningful. (The numbers shown are just the
             piece order in the game's data.)<div style="height:0.6em"></div>
             When a given "piece" lists multiple boosts, any of the boosts shown
             counts as that piece of the set. You can only slot one boost from a
             given "piece" in a given power.
             <div style="height:0.6em"></div>Boost names displayed are derived
             from the actual effects of each boost.
             <div style="height:0.6em"></div>Some pieces grant you a special
             set bonus, commonly referred to as a "Global" power. This is shown
             in the piece's row when appropriate.
           </span>
        </tippy>

        <div class="outlined">
          <div v-for="(boost_list, count) in boost_lists" class=flex-row>
            <div class="number-box minor-heading center-text outlined">{{count+1}}</div>
            <div class="flex-col boost-box outlined">
              <a v-for="boost in boost_lists[count]" class="boost-anchor"
                 :href="power_url(boost.power_fullname)">
               {{boost.descriptive_name}}
              </a>
              <div v-for="(display, fullname) in globals_by_piece[count]">
                <span class=global-label>Global:</span>
                <a :href="power_url(fullname)">{{display}}</a>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div style="padding-top:0.8em">
          <span class="short-desc minor-heading">Set Bonuses</span>

          <button name=bonuses-help class="data-button cod-theme">
            <img width="16px" height="16px"
                 :src="asset_url('question-mark.png')" alt="question-mark.png"/>
          </button>
          <tippy v-cloak
                 to="bonuses-help"
                 :arrow=true
                 :allowHTML=true
                 :ignoreAttributes=true
                 animation=scale
                 theme=cod>
             <span style="margin:1em">
               Bonus powers granted by slotting boosts from the set.
               <div style="height:0.6em"></div>
               Each piece beyond the first that you slot in a single power will
               grant you a bonus. Generally, you can benefit from at most five
               copies of any bonus power, no matter which set granted it to you.
             </span>
          </tippy>

          <div class=flex-col>
            <div v-for="(bonuses, count) in boostset_data.computed.bonuses" class=flex-row>
              <div class="bonus-header">{{count+2}} pieces:</div>
              <div class="flex-col bonus-box">
                <a v-for="bonus in bonuses" :href="power_url(bonus[0])">
                  {{bonus[1]}}
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div v-show="show_raw_data">
      <hr/>
      <pre><code>{{boostset_data}}</code></pre>
    </div>
  </div>
</div>
