<div id="powerset">
  <div class=content v-cloak
       v-if="powercat_data">
    <div class=power-header>
      <div class=power-title>
        <h1 class=powerset-name>Category "{{powercat_data.name.replace(/_/g, " ")}}"
          <button v-if="powercat_data.archetypes.length"
          <button v-tippy="TIPPY_INTERACTIVE"
                  class="data-button cod-theme"
                  :content="archetype_links">
            <img width="16px" height="16px"
                 :src="asset_url('link-icon.png')" alt="link-icon.png"/>
          </button>
        </h1>
      </div>
    </div>
    <div v-if="powercat_data.display_short_help"
         class=short-desc>{{powercat_data.display_short_help}}</div>
    <div v-if="powercat_data.display_help"
         class=full_desc>{{powercat_data.display_help}}</div>
    <br v-if="powercat_data.display_short_help || powercat_data.display_help">

    <div class="main-data">

      <div v-if="powercat_data.requires" class="table-row requires">
        <span class="table-cell"><strong>Requires:</strong> {{powercat_data.requires}}</span>
      </div>

      <div class=details>
        <h1 class=table-head>Powersets</h1>
        <ul class=table-list v-if="powercat_data.powerset_names.length">
          <li class=table-row v-for="entry in sorted_powersets" :key="entry.fullName">
            <div class="table-cell table-value">
              <a v-if="entry.fullName" :href="powerset_url(entry.fullName)">{{ entry.displayName }}</a>
              <span v-else>—</span>
              <span v-if="entry.fullName && powerset_dupes.get(entry.displayName) > 1">
                ({{ entry.fullName.split(".")[1] }})
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div v-show="show_raw_data">
      <hr/>
      <pre><code>{{powercat_data}}</code></pre>
    </div>
  </div>
</div>
