<div class=mod-icons-root>
  <button v-if="tags"
          v-tippy="TIPPY_INTERACTIVE"
          :content="tags.content"
          class=data-button>
    <img :src="asset_url(tags.icon)"
         :alt="tags.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="keep_through_death"
          v-tippy="TIPPY_DEFAULTS"
          :content="keep_through_death.content"
          class=data-button>
    <img :src="asset_url(keep_through_death.icon)"
         :alt="keep_through_death.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="recharge_power"
          v-tippy="TIPPY_DEFAULTS"
          :content="recharge_power.content"
          class=data-button>
    <img :src="asset_url(recharge_power.icon)"
         :alt="recharge_power.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="caster_stacking"
          v-tippy="TIPPY_DEFAULTS"
          :content="caster_stacking.content"
         class=data-button>
    <img :src="asset_url(caster_stacking.icon)"
         :alt="caster_stacking.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="stacking_type"
          v-tippy="TIPPY_DEFAULTS"
          :content="stacking_type.content"
          class=data-button>
    <img :src="asset_url(stacking_type.icon)"
         :alt="stacking_type.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="stacking_key"
          v-tippy="TIPPY_DEFAULTS"
          :content="stacking_key.content"
          class=data-button>
    <img :src="asset_url(stacking_key.icon)"
         :alt="stacking_key.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="stacks_by_power"
          v-tippy="TIPPY_DEFAULTS"
          :content="stacks_by_power.content"
          class=data-button>
    <img :src="asset_url(stacks_by_power.icon)"
         :alt="stacks_by_power.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="ignores_strength"
          v-tippy="TIPPY_DEFAULTS"
          :content="ignores_strength.content"
          class="data-button">
    <img :src="asset_url(ignores_strength.icon)"
         :alt="ignores_strength.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="unresistable"
          v-tippy="TIPPY_DEFAULTS"
          :content="unresistable.content"
          class=data-button>
    <img :src="asset_url(unresistable.icon)"
         :alt="unresistable.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="ignores_combatmods"
          v-tippy="TIPPY_DEFAULTS"
          :content="ignores_combatmods.content"
         class=data-button>
    <img :src="asset_url(ignores_combatmods.icon)"
         :alt="ignores_combatmods.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="cancel_on_miss"
          v-tippy="TIPPY_DEFAULTS"
          :content="cancel_on_miss.content"
         class=data-button>
    <img :src="asset_url(cancel_on_miss.icon)"
         :alt="cancel_on_miss.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="copies_boosts"
          v-tippy="TIPPY_DEFAULTS"
          :content="copies_boosts.content"
         class=data-button>
    <img :src="asset_url(copies_boosts.icon)"
         :alt="copies_boosts.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="copies_mods"
          v-tippy="TIPPY_DEFAULTS"
          :content="copies_mods.content"
         class=data-button>
    <img :src="asset_url(copies_mods.icon)"
         :alt="copies_mods.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="creates_pseudopet"
          v-tippy="TIPPY_DEFAULTS"
          :content="creates_pseudopet.content"
         class=data-button>
    <img :src="asset_url(creates_pseudopet.icon)"
         :alt="creates_pseudopet.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="cancelled_by"
          v-tippy="TIPPY_DEFAULTS"
          :content="cancelled_by.content"
          class=data-button>
    <img :src="asset_url(cancelled_by.icon)"
         :alt="cancelled_by.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="suppressed_by"
          v-tippy="TIPPY_DEFAULTS"
          :content="suppressed_by.content"
          class=data-button>
    <img :src="asset_url(suppressed_by.icon)"
         :alt="suppressed_by.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
  <button v-if="no_floaters"
          v-tippy="TIPPY_DEFAULTS"
          :content="no_floaters.content"
          class=data-button>
    <img :src="asset_url(no_floaters.icon)"
         :alt="no_floaters.icon"
         width=16 height=16 class=effect-icon>
    </img>
  </button>
</div>
