<div id="at-details">
  <div class=content v-cloak>

    <div class="main-data" style="display:flex; flex-direction: row">

      <div class="at-details-container">

        <div v-if="all_ats.length" class="picklist-container">

          <div class=flex-col>
            <div class=flex-row>
              <strong style="margin-right:0.5em">Level</strong>
              <vue-slider
                v-model="display_level"
                :min="1"
                :max="max_display_level"
                :value="50"
                width="8.5em">
              </vue-slider>
              <input
                v-model.number.lazy="display_level"
                style="margin-left:1.0em; width:4em"
                placeholder="Level"
                type="number"
                @input=valid_level>
            </div>
          </div>

          <div><strong>Pick a class</strong></div>
          <select
              v-model="class_key"
              class=mod-list
              ref=picklist
              size=32>
            <option v-for="at in all_ats" :value="at">{{ display_at_name(at) }}</option>
          </select>
        </div>

        <div class="at-details" v-if="at_data">
          <div v-if="show_descriptions" class="at-description">
            <h1 class=powerset-name>Archetype "{{at_data.display_name}}"</h1>
            <div v-if="at_data.display_short_help"
                 class=short-desc>{{at_data.display_short_help}}</div>
            <div v-if="at_data.display_help"
                 class=full_desc>{{at_data.display_help}}</div>
          </div>

          <div class=at-tables-wrapper>
            <div>
              <h1 class=table-head>Attributes</h1>
              <ul class=table-list>
                <li class="attrib-row header-row">
                  <div class="table-cell attrib-key">Attribute</div>
                  <div class="table-cell attrib-cell"
                       v-for="category in cat_entries">{{ category.display }}</div>
                </li>
                <li class=attrib-row v-for="attrib in attribs">
                  <div class="table-cell attrib-key">{{ display_attrib_name(attrib) }}</div>
                  <div class="table-cell attrib-cell"
                      v-for="category in cat_entries">{{ attrib_value(category.name, attrib) || "-" }}</div>
                </li>
              </ul>
            </div>
            <div class=table-divider></div>
            <div>
              <h1 class=table-head>Modifiers</h1>
              <ul class=table-list>
                <li class="attrib-row header-row">
                  <div class="table-cell attrib-key">Modifier</div>
                  <div class="table-cell attrib-cell">Value</div>
                </li>
                <li class=attrib-row v-for="mod_name in mod_table_names">
                  <div class="table-cell attrib-key">{{ display_mod_name(mod_name.display) }}</div>
                  <div class="table-cell attrib-cell">{{ mod_value(mod_name.name) || "-" }}</div>
                </li>
              </ul>
              <br>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div v-show="show_raw_data">
      <hr/>
      <pre><code>{{at_data}}</code></pre>
    </div>
  </div>
</div>
