body {
  background-color: #AAA;
  color: #222;
  font-family: arial, tahoma;
  font-size: 10pt;
  margin: 0;
}

.page-container {
  background-color: #EFEFEF;
  margin: auto;
  max-width: 105rem;
  min-height: 100vh; /* Works with footer layout */
  min-width: 66.66rem; /* Keeps container in line with effects */
  outline-style: solid;
  outline-width: thin;
  position: relative; /* Works with footer layout */
}

.at-data-container {
  min-width: 98rem;
}

.content-wrapper {
  /* Works with footer layout */
  /* Must match footer height */
  padding-bottom: 2.3rem;
}

.topbar {
  background-color: #000;
  border-bottom: 1px solid #9C9A9C;
  height: 10px;
  width: 100%;
}

.header {
  align-content: flex-start;
  background-color: #293C73;
  display: flex;
  flex-wrap: wrap;
}

.title {
  color: #fff;
  font-family: arial, tahoma;
  font-size: 14pt;
  font-weight: bold;
  margin: auto;
  padding: 5px;
  padding-right: 15px;
  white-space: nowrap;
}

.revision {
  color: #fff;
  cursor: pointer;
  font-family: arial, tahoma;
  font-size: 10px;
  font-weight: bold;
  margin: auto;
  padding: 8px 5px 5px 5px;
  text-transform: capitalize;
  white-space: nowrap;
}

.check-box {
  display: flex;
  margin: auto;
  padding: 0.1em;
}

.content {
  background-color: #fff;
  border: 1px solid #888;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin: 5px;
  margin-bottom: 1em;
  padding: 0.5em 1em 0.5em 1em;
}

.power-header {
  display: flex;
  width: 100%;
}

.filler {
  flex-grow: 2;
}

.power-title {
  display: flex;
  flex-wrap: nowrap;
}

.power-name {
  font-family: verdana;
  font-size: 12pt;
  font-weight: bold;
  height: 24px;
  padding: 0 5px;
  white-space: nowrap;
}

.boost-icon-wrapper {
  display: inline-flex;
}

.boost-icon-group {
  flex-flow: column wrap;
}

.short-desc {
  font-weight: bold;
  line-height: 125%;
  margin-top: 10px;
}

.full-desc {
  line-height: 1.2em;
  max-width: 85em;
  white-space: pre-line;
}

.main-data {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -0.5em 0 0 -0.5em;
  width: calc(100% + 0.5em);
}

.main-data > div {
  margin: 0.5em 0 0 0.5em;
}

.details {
  flex-grow: 0;
  margin-right: 6px;
  width: 30em;
}

.effects {
  flex-basis: 50%;
  flex-grow: 2;
  width: 100%;
}

.table-head {
  background-color: #333;
  box-sizing: border-box; /* csslint allow: box-sizing */
  color: #fff;
  font-size: 9pt;
  margin-right: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
  width: 100%;
}

.sub-heading {
  background-color: #CCCCCC;
}

.effect-header {
  /* background: #BFDFCF; */
  background: #BFCFDF;
  display: flex;
}

.effect-header .data-button:first-of-type {
  margin-left: 0.5em;
}

.effect-header .data-button {
  margin-left: 0.05em;
  transform: translate(0, 20%);
}

.effect-tree .undefined-warn {
  color: red;
  font-weight: bold;
  margin-left: 0.5em;
}

.power-title .data-button {
  margin-left: 0;
}

.table-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%
}

.table-row {
  display: flex;
  width: 100%;
}

.table-cell {
  border: 1px solid #eee;
  display: inline;
  font-size: 90%;
  padding: 2px;
  text-align: left;
}

.effect-chance {
  margin-left: 0.5em;
  transform: translate(0, 8%);
}

.table-key {
  font-weight: bold;
  width: 16em;
}

.break-spans {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.entity-data .table-key {
  font-weight: bold;
  width: 17.5em;
}

.table-icons {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
}

.table-value {
  width: 100%;
}

.entity-data .table-value {
  text-transform: capitalize;
}

.table-at-power {
  width: 16em;
}

.table-at-power.table-cell {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.table-level {
  text-align: center;
  width: 7em;
}

.table-entity-power {
  width: 24em;
}

.entity-data {
  width: 24.5em;
}

.mod-subtext {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.redirects li:nth-of-type(odd) {
  background: #CFCFDF;
}

.redirects li:nth-of-type(even) {
  background: #EFEFEF;
}

.requirement {
  background: #E8E0E0;
  display: flex;
  flex-wrap: nowrap;
}

.effect-wrapper {
  border-bottom: 1px inset;
  border-left: 2px inset;
  border-right: 1px inset;
  border-top: 1px inset;
  padding-left: 3px;
}

.mod-icons {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
  margin-right: 0.5em;
}

.mod-icons-root {
  display: flex;
  flex-wrap: nowrap;
}

.effect-group li.table-row:hover {
  background: #FFE6C6;
}

.effect-wrapper .effect-header:hover {
  background: #EEE6C6;
}

.effect-wrapper .requirement:hover {
  background: #EEE6C6;
}

.details li.table-row:hover {
  background: #EEEEEE;
}

.details li:nth-of-type(even) {
  background: #F8F8F8;
}

.entity-details li.table-row:not(.sub-heading) hover {
  background: #EEEEEE;
}

.row-even {
  background: #EFEFEF;
}

.row-odd {
  background: #E0E0E8;
}

.table-row > strong {
  color: #000000;
}

.spacer-row {
  height: 0.5em;
}

.requires strong {
  color: #FF0000;
}

.data-button {
  background: none;
  border: none;
  margin-left: 5px;
  padding: 0;
}

.bullet-list {
  display: flex;
  padding: 0.1em 0.1em 0.1em 1.0em;

}

.powerset-name {
  font-family: verdana;
  font-size: 12pt;
  font-weight: bold;
  white-space: nowrap;
}

.footer {
  background-color: #636563;
  /* border-top: 1px solid #ccc; */
  bottom: 0;
  clear: both;
  color: #fff;
  height: 2.3rem;  /* Must match content-wrapper's padding-bottom */
  letter-spacing: 1px;
  line-height: 2.3rem;
  position: absolute;
  width: 100%;
}

.footer-text {
  margin-left: 10px;
}

.error-message {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.cloaked[v-cloak] {
  display: none
}

.at-picker {
  /* margin-right: 0.5em; */
  display: flex;
  width: 17em;
}

.at-freeform {
  margin-left: 0.5em;
}

.dropdown{
  max-width: 95%;
  position: relative;
  width: 100%;
}

.dropdown-input-wrapper {
  background: #edf2f7;
  border: 1px solid blue;
  border-radius: 8px;
  box-sizing: content-box; /* csslint allow: box-sizing */
  height: 1em;
  margin-top: -2px;
  padding: 4px 3px;
}

.dropdown-input, .dropdown-selected {
  background: #edf2f7;
  border: 0;
  border-radius: 8px;
  margin-top: -3px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.dropdown-input:focus, .dropdown-selected:hover{
  background: #fff;
  border: 0 solid transparent;
  border-color: #e2e8f0;
  border-radius: 8px;
}

.dropdown-input::placeholder{
  opacity: 0.7;
}

.dropdown-selected{
  cursor: pointer;
  font-weight: bold;
}

.dropdown-list{
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-top: 4px;
  /* max-height: 500px; */
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.dropdown-item{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 2px 16px;
  width: 100%;
}

/* .dropdown-item: hover{
  background: #edf2f7;
} */

.dropdown-item-selected {
  background: #edf2f7;
}

.dropdown-overflow {
  color: #DC0000;
  font-size: 85%;
}

.search-highlight {
  color: red;
  font-weight: bold;
}

.search-header {
  display: inline-block;
  font-size: 1.6em;
  height: 1.3em;
  margin-top: 0.3em;
  vertical-align: central;
}

.search-top {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.search-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.search-power-wrapper {
  display: flex;
  flex-direction: column;
  width: 48em;
}

.search-power-picker {
  height: 2em;
  margin-top: 4px;
}

.at-powersets {
  display: flex;
}

.entity-details {
  display: flex;
}

.linker-title {
  font-size: 1.3em;
  font-weight: bold;
}

.linker-link {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.effect-icon {
  margin-left: 1px;
  margin-right: 1px;
}

.tippy-popper .cod-theme {
  background-color: #000;
  color: yellow;
  font-size: 1em;
  font-weight: normal;
}

.tippy-popper .cod-theme strong:not(:first-of-type) {
  color: white;
}

.tags-tip {
  display: flex;
  flex-direction: column;
}

.tags-tip span {
  color: white;
  text-transform: capitalize;
}

.tags-tip a:link {
  color: cyan;
}

.tags-tip a:visited {
  color: orange;
}

.title-tip {
  color: white;
  font-size: 100%;
}

.title-tip a:link {
  color: cyan;
}

.title-tip a:visited {
  color: yellow;
}

.at-icons-column {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.at-icons-row {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.at-icons-wrapper {
  display: flex;
  flex-direction: column;
}

.divider {
  background: #000;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  height: 10px;
  margin-bottom: 35px;
  margin-top: 10px;
  width: 100%
}

.divider-small {
  background: #000;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  height: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%
}

.site-links {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 0.5em;
  margin-top: 0.25em;
}

.mod-list {
  flex-shrink: 0;
  width: 17em;
}

.v-datatable-light {
  border-collapse: collapse;
  font-size: 90%;
  width: 100%;
}

.v-datatable-light th, td {
  border: 1px solid lightgray;
  max-width: 8em;
  min-width: 5em;
  text-align: left;
}

.v-datatable-light th {
  background-color: #293C73;
  color: white;
  position: sticky;
  top: 0;
}

.v-datatable-light tr:nth-child(even) {
  background: #EEE;
}

.v-datatable-light td:hover {
  background: #FFF6D6;
}

.v-datatable-light tr:hover {
  background: #FFE6C6;
}

.picklist-container {
  height: 50em;
  position: sticky;
  top: 1em;
}

.at-details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.at-details {
  display: flex;
  flex-direction: column;
  margin: 1.0em;
  width: 100%;
}

.at-tables-wrapper {
  display: flex;
  flex-direction: row;
}

.at-description {
  border: 1px solid black;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
  padding: 0 0.3em 0.3em 0.3em;
}

.attrib-row {
  display: flex;
}

.at-tables-wrapper .attrib-row:not(.header-row) .attrib-cell:hover {
  background: #FFF6D6;
}

.at-tables-wrapper .attrib-row:not(.header-row):hover {
  background: #FFE6C6;
}

.at-tables-wrapper .attrib-row:not(.header-row):nth-child(odd) .attrib-key {
  background: #F8F8F8;
}

.at-tables-wrapper .attrib-row:not(.header-row):nth-child(odd):hover .attrib-key {
  background: #F8F8E8;
}

.at-tables-wrapper .attrib-row:not(.header-row):nth-child(even):hover .attrib-key {
  background: #E8E8D8;
}

.at-tables-wrapper .attrib-row:nth-child(even):not(:hover) .attrib-cell {
  background: #F8F8F8;
  border: 1px solid #DDD;
}

.at-tables-wrapper .attrib-row {
  border-left: 1px solid #888;
  border-right: 1px solid #888;
}

.at-tables-wrapper .attrib-row:last-child {
  border-bottom: 1px solid #888;
}

.header-row {
  background-color: #333;
  color: #FFF;
  position: sticky;
  top: 0;
}

.attrib-cell {
  width: 5em;
}

.attrib-key {
  width: 11em;
}

.table-divider {
  border: 4px solid #AAA;
  margin-top: 0.5em;
}

/* Don't re-style the one key in the header row */
:not(.header-row) > .attrib-key {
  background-color: #EEE;
  border: 1px solid #AAA;
}

.settings-content {
  background-color: #fff;
  border: 1px solid #888;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin: 5px;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  padding: 0.5em 1em 0.5em 1em;
}

.help-table {
  background-color: #fff;
  border: 1px solid #888;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin: 5px;
  margin-bottom: 1em;
  margin-right: auto;
  padding: 0 1em 0.5em 1em;
  width: 15em;
}

.help-content {
  background-color: #fff;
  border: 1px solid #888;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin: 5px;
  margin-bottom: 1em;
  margin-left: auto;
  padding: 0.5em 1em 0.5em 1em;
}

.help-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline-style: solid;
  outline-width: thin;
  width: 95%;
}

.help-wrapper {
  height: 100%;
  margin: auto;
  width: 85%;
}

.help-frame {
  height: 100vh;
  margin: auto;
  width: 100%;
}

.outlined {
  outline-style: solid;
  outline-width: thin;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%
}

.help-icon {
  height: 20px;
  margin: 0.2em 0.2em;
  width: 20px;
}

.menu-icon {
  height: 28px;
  margin: auto 0.2em;
  width: 24px;
}

.require-line {
  margin-left: 2em;
  text-indent: -2em;
}

.tight-list {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.center-text {
  align-items: center;
  display: flex;
  justify-content: center;
}

.boost-box {
  padding: 0.2em 0.4em;
}

.bonus-header {
  white-space: nowrap;
}

.bonus-box {
  padding-left: 0.2em;
}

.boost-anchor {
  align-self: flex-start;
}

.global-label {
  color: #FF0000;
  font-weight: bold;
}

.number-box {
  width: 3em;
}

.minor-heading {
  font-size: 105%;
  font-weight: bold;
}

.search-boostset-wrapper {
  display: flex;
  flex-direction: column;
  width: 32em;
}

.entity-fullname {
  align-self: center;
  padding-left: 0.5em;
}

.level-range {
  display: inline-block;
  margin-right: 0.3em;
  text-align:right;
  width: 4em;
}

.boostset-groups {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: minmax(1.3em, auto);
  grid-gap: 0.1rem;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}

.small-rule {
  background-color: gray;
  border:0;
  height: 1px;
  margin: 3px 3px;
}

/* The actual popup */
.popup {
  animation: fadeOut 0.5s;
  background-color: #111;
  border-radius: 6px;
  color: #fff;
  left: 50%;
  margin-left: -80px;
  padding: 8px 0;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 160px;
  z-index: 10;
}

.popup::before {
  border-color: transparent transparent #111 transparent;
  border-style: solid;
  border-width: 5px;
  bottom: 100%;
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
}

.popup a {
  z-index: 11;
}

.popup a:link {
  color: cyan;
}

.popup a:visited {
  color: yellow;
}

.show {
  opacity: 1;
  transition: opacity 0.3s linear;
  visibility: visible;
}

.hide {
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
  visibility: hidden;
}

.popblock {
  background: rgb(50,50,50);
  background: rgba(0,0,0,0.2);
  bottom: 0;
  content: ' ';
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
