<div class="dropdown">
  <div class=dropdown-input-wrapper>
    <input v-show="!selectedItem.option"
           ref="dropdowninput"
           class=dropdown-input
           type=text
           @focus="picking=true"
           @blur="stopPicking()"
           @keyup.esc="clear()"
           @keyup.enter="onEnter()"
           @keydown.down="incrementIndex()"
           @keyup.down="cancelTimer()"
           @keydown.up="decrementIndex()"
           @keyup.up="cancelTimer()"
           @input="onInput"
           :input="inputValue"
           :placeholder="placeholder || 'Enter search'" />
    <div v-show="selectedItem.option"
         class=dropdown-selected
         ref="dropdownselected"
         @click="startSelection">
      {{ selectedItem.option }}
    </div>
  </div>
  <div v-show="inputValue || picking"
       @mouseover="hover=true"
       @mouseleave="hover=false"
       class="dropdown-list">
    <div v-for="(item, index) in visibleItems"
         :key="item.value + item.option"
         :ref="'dropdownitem_' + index"
         @click="selectItem(item)"
         @mouseover="doHover(index)"
         @keyup.enter="selectItem(item)"
         @keyup.up="decrementIndex()"
         @keyup.down="incrementIndex()"
         v-html="getHtml(item)"
         class="dropdown-item">
      <!-- {{ item.option }} -->
    </div>
    <div v-if="moreItemsThanShown"
         key="overflow"
         class="dropdown-item dropdown-overflow">
      <span>(More items not shown)</span>
    </div>
  </div>
</div>
