<div id="powerset">
  <div class=content v-cloak
       v-if="power_map">
    <div class=power-header>
      <div class=power-title>
        <span v-if="list_type === 'affects'">
          <h1 class=powerset-name>
            Powers affecting tag "{{power_map.tag}}"
          </h1>
          See instead <a :href="tag_url(tag_name, 'bears')">powers bearing this tag</a>.
        </span>
        <span v-else>
          <h1 class=powerset-name>
            Powers bearing tag "{{power_map.tag}}"
          </h1>
          See instead <a :href="tag_url(tag_name, 'affects')">powers affecting this tag</a>.
        </span>
      </div>
    </div>

    <div class="main-data">
      <div class=details>
        <h1 class=table-head>Powers</h1>
        <ul class=table-list v-if="power_map && power_list.length">
          <li class=table-row v-for="power_obj in power_list" :key="power_obj[1]">
            <div class="table-cell table-value">
              <a :href="power_url(power_obj[1])">{{ power_obj[0] }}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
