<div id=at-table>
  <div class=at-icons-wrapper>
    <div v-for="row in rows" class="at-icons-column">
      <div class=at-icons-row>
        <span v-for="at_obj in at_objects(row)">
          <a :href="at_obj.url">
            <img :src="at_obj.icon" width=100 height=100><br>
            <span>{{ at_obj.name }}</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
