<div class=mod-icons>

  <button v-if="needsLineOfSight"
          v-tippy="TIPPY_DEFAULTS"
          :content="needsLineOfSight"
          class=data-button>
    <img :src="asset_url('line-of-sight.png')"
         alt="needs-line-of-sight"
         width=16 height=16 class="effect-icon">
    </img>
  </button>

  <button v-if="numberAllowed"
          v-tippy="TIPPY_DEFAULTS"
          :content="numberAllowed"
          class=data-button>
    <img :src="asset_url('number.png')"
         alt="number-allowed"
         width=16 height=16 class="effect-icon">
    </img>
  </button>

  <button v-if="ignoresStrength"
          v-tippy="TIPPY_DEFAULTS"
          :content="ignoresStrength"
          class=data-button>
    <img :src="asset_url('ignores_strength.png')"
         alt="ignore-external-strength"
         width=16 height=16 class="effect-icon">
    </img>
  </button>

  <button v-if="castThrough"
          v-tippy="TIPPY_DEFAULTS"
          :content="castThrough"
          class=data-button>
    <img :src="asset_url('cast-through.png')"
         alt="cast-through"
         width=16 height=16 class="effect-icon">
    </img>
  </button>

  <button v-if="toggleDetoggleAfter"
          v-tippy="TIPPY_DEFAULTS"
          :content="toggleDetoggleAfter"
          class=data-button>
    <img :src="asset_url('detoggle-time.png')"
         alt="toggle-detoggles-after"
         width=16 height=16 class="effect-icon">
    </img>
  </button>

  <button v-if="rechargeGroups"
          v-tippy="TIPPY_DEFAULTS"
          :content="rechargeGroups"
          class=data-button>
    <img :src="asset_url('recharge-groups.png')"
         alt="recharge-groups"
         width=16 height=16 class="effect-icon">
    </img>
  </button>

  <button v-if="toggleIgnores"
          v-tippy="TIPPY_DEFAULTS"
          :content="toggleIgnores"
          class=data-button>
    <img :src="asset_url('toggle-ignores.png')"
         alt="toggle-ignores"
         width=16 height=16 class="effect-icon">
    </img>
  </button>

  <button v-if="strengthsDisallowed"
          v-tippy="TIPPY_INTERACTIVE"
          :content="strengthsDisallowed"
          class=data-button>
    <img :src="asset_url('unresistable.png')"
         alt="strength-disallowed"
         width=16 height=16 class="effect-icon">
    </img>
  </button>

  <button v-if="globalStrengthsDisallowed"
          v-tippy="TIPPY_INTERACTIVE"
          :content="globalStrengthsDisallowed"
          class=data-button>
    <img :src="asset_url('global-no.png')"
         alt="global-strength-disallowed"
         width=16 height=16 class="effect-icon">
    </img>
  </button>

  <button v-if="modesDisallowed"
          v-tippy="TIPPY_INTERACTIVE"
          :content="modesDisallowed"
          class=data-button>
    <img :src="asset_url('cancel.png')"
         alt="modes-disallowed"
         width=16 height=16 class=effect-icon>
    </img>
  </button>

  <button v-if="modesRequired"
          v-tippy="TIPPY_INTERACTIVE"
          :content="modesRequired"
          class=data-button>
    <img :src="asset_url('suppress.png')"
         alt="modes-required"
         width=16 height=16 class=effect-icon>
    </img>
  </button>

  <button v-if="exclusionGroups"
          v-tippy="TIPPY_INTERACTIVE"
          :content="exclusionGroups"
          class=data-button>
    <img :src="asset_url('suppress.png')"
         alt="exclusion-groups"
         width=16 height=16 class=effect-icon>
    </img>
  </button>

  <!-- Content container -->
  <div style="display:none">

    <div ref=needsLineOfSight>
      <div class=tags-tip>
        <strong>Requires Line<br> of Sight</strong>
      </div>
    </div>

    <div ref=numberAllowed>
      <div class=tags-tip>
        <strong>Max Copies Allowed</strong>
        <span>{{power_data.number_allowed}}</span>
      </div>
    </div>

    <div ref=castThrough>
      <div class=tags-tip>
        <strong>Can Cast Through</strong>
        <span v-for="effect in power_data.cast_through">{{effect}}</span>
      </div>
    </div>

    <div ref=toggleDetoggleAfter>
      <div class=tags-tip>
        <strong>Automatically detoggles after</strong>
        <span>{{power_data.toggle_detoggle_time}}s</span>
      </div>
    </div>

    <div ref=rechargeGroups>
      <div class=tags-tip>
        <strong>Recharge Groups</strong>
        <span v-for="group in power_data.recharge_groups">{{group}}</span>
      </div>
    </div>

    <div ref=toggleIgnores>
      <div class=tags-tip>
        <strong>Toggle Ignores</strong>
        <span v-for="str in power_data.toggle_ignores">{{str}}</span>
      </div>
    </div>

    <div ref=ignoresStrength>
      <div class="tags-tip">Ignores external strength boosts</div>
    </div>

    <div ref=strengthsDisallowed>
      <div class=tags-tip>
        <strong>Strengths Disallowed</strong>
        <span v-for="str in power_data.strengths_disallowed">{{str}}</span>
      </div>
    </div>

    <div ref=globalStrengthsDisallowed>
      <div class=tags-tip>
        <strong>Global Strengths Disallowed</strong>
        <span v-for="str in power_data.global_strengths_disallowed">{{str}}</span>
      </div>
    </div>

    <div ref=modesDisllowed>
      <div class=tags-tip>
        <strong>Modes Disallowed</strong>
        <span v-for="mode in power_data.modes_disallowed">{{mode}}</span>
      </div>
    </div>

    <div ref=modesRequired>
      <div class=tags-tip>
        <strong>Modes Required</strong>
        <span v-for="mode in power_data.modes_required">{{mode}}</span>
      </div>
    </div>

    <div ref=exclusionGroups>
      <div class=tags-tip>
        <strong>Exclusion Groups</strong>
        <span v-for="mode in power_data.exclusion_groups">{{mode}}</span>
      </div>
    </div>

  </div>

</div>
