<div id="power">
  <div class=content v-cloak
       v-if="power_data">
    <div class=power-header>
      <div class=power-title>
        <img width="40px" height="40px"
             :src="icon_path" :alt="power_data.icon"/>
        <h1 class=power-name>{{power_data.display_name}}
          <button v-tippy="TIPPY_INTERACTIVE"
                  class="data-button cod-theme"
                  :content="power_links">
            <img width="16px" height="16px"
                 :src="asset_url('link-icon.png')" alt="link-icon.png"/>
          </button>
        </h1>
      </div>
      <div class="filler"></div>
      <boosts-allowed :power_data=power_data></boosts-allowed>
    </div>
    <div v-if="power_data.display_short_help"
         class=short-desc>{{power_data.display_short_help}}</div>
    <div v-if="power_data.display_help"
         class=full-desc>{{desription_sans_markup}}</div>
    <br v-if="power_data.display_short_help || desription_sans_markup">

    <div class="main-data">

      <div class="flex-col">

        <div v-if="power_data.max_targets_expression" class="table-row">
          <span class="table-cell"><b>Max Targets:</b> <code>{{power_data.max_targets_expression}}</code></span>
        </div>

        <div v-if="power_data.effect_area === 'Chain'">
          <div v-if="power_data.chain_target_expr" class="table-row">
            <span class="table-cell require-line"><b>Chain Target Priority:</b> <code>{{power_data.chain_target_expr}}</code></span>
          </div>
          <div v-if="power_data.chain_effect_expr" class="table-row">
            <span class="table-cell require-line"><b>Chain Effect Scale Multiplier:</b> <code>{{power_data.chain_effect_expr}}</code></span>
          </div>
        </div>

        <div v-if="power_data.requires" class="table-row">
          <span class="table-cell require-line"><b>Requires:</b> <code>{{power_data.requires}}</code></span>
        </div>

        <div v-if="power_data.target_requires" class="table-row">
          <span class="table-cell require-line"><b>Target Requires:</b> <code>{{power_data.target_requires}}</code></span>
        </div>

        <div class="flex-row">
          <div class=details>
            <h1 class="flex-row table-head">
              <span>Activation Details</span>
              <power-icons :power_data="power_data"></power-icons>
            </h1>
            <ul class=table-list>
              <li class=table-row>
                <div class="table-cell table-key">Available Level</div>
                <div class="table-cell table-value">{{power_data.available_level + 1}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Type</div>
                <div class="table-cell table-value">{{power_data.type}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Accuracy</div>
                <div class="table-cell table-value">{{power_data.accuracy.toPlaces(3)}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Range</div>
                <div class="table-cell table-value">{{power_data.range}} feet</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Cast Time</div>
                <div class="table-cell table-value">{{power_data.activation_time.toPlaces(3)}} sec</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Cast Arcanatime</div>
                <div class="table-cell table-value">{{arcanatime.toPlaces(3)}} sec</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Root Time</div>
                <div class="table-cell table-value">{{power_data.root_time ? `${power_data.root_time.toPlaces(3)} sec` : '-'}} </div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Animation Time</div>
                <div class="table-cell table-value">{{(power_data.fx.frames_attack / 30).toPlaces(3)}} sec</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Animation Time Before Effect</div>
                <div class="table-cell table-value">{{(power_data.fx.frames_before_hit / 30).toPlaces(3)}} sec</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Interrupt Time</div>
                <div class="table-cell table-value">{{power_data.interrupt_time > 0 ? power_data.interrupt_time.toPlaces(3) + " sec" : "-"}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Activate Period</div>
                <div class="table-cell table-value">{{power_data.activate_period > 0 ? power_data.activate_period.toPlaces(3) + " sec" : "-"}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Recharge time</div>
                <div class="table-cell table-value">{{power_data.recharge_time.toPlaces(0)}} sec</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Endurance Cost</div>
                <div class="table-cell table-value">{{power_data.endurance_cost.toPlaces(3)}} endurance</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Attack Types</div>
                <div class="table-cell table-value">{{power_data.attack_types.join(", ") || "-"}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Effect Area</div>
                <div class="table-cell table-value">{{power_data.effect_area}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Radius</div>
                <div class="table-cell table-value">{{power_data.radius > 0 ? power_data.radius.toPlaces(0) + " ft" : "-"}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Arc</div>
                <div class="table-cell table-value">{{power_data.arc > 0 ? (power_data.arc * 180 / Math.PI).toPlaces(0) + "°" : "-"}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Max Targets Hit</div>
                <div class="table-cell table-value">{{power_data.max_targets_expression.length ? 'See Expression Above' : power_data.max_targets_hit}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Cast When</div>
                <div class="table-cell table-value">{{power_data.cast_when_dead}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Near Ground</div>
                <div class="table-cell table-value">
                  {{
                    [
                      power_data.caster_near_ground ? "Caster" : null,
                      power_data.target_near_ground ? "Target" : null
                    ].filter(x => x).join(", ") || "-"
                  }}
                </div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Entities Affected</div>
                <div class="table-cell table-value">{{power_data.targets_affected.join(', ') || "-"}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Entities Autohit</div>
                <div class="table-cell table-value">{{power_data.targets_autohit.join(', ') || "-"}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Target</div>
                <div class="table-cell table-value">{{power_data.target_type || "-"}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Target Visibility</div>
                <div class="table-cell table-value">{{power_data.target_visibility}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Notify Mobs</div>
                <div class="table-cell table-value">{{power_data.notify_ai_when}}</div>
              </li>
            </ul>
            <div v-if="power_data.effect_area === 'Chain'">
              <h1 class=table-head>Chain Attributes</h1>
              <ul class=table-list>
                <li class=table-row>
                  <div class="table-cell table-key">
                    Chain Delay
                    <button v-tippy="{...TIPPY_DEFAULTS}"
                            class=data-button
                            content="Delay before the chain<br>jumps to the next target">
                      <img :src="asset_url('question-mark.png')"
                           alt="question-mark"
                           width=14 height=14 class="effect-icon">
                      </img>
                    </button>
                  </div>
                  <div class="table-cell table-value">{{power_data.chain_delay }}</div>
                </li>
                <li class=table-row>
                  <div class="table-cell table-key">
                    Fork at Jumps
                    <button v-tippy="{...TIPPY_DEFAULTS}"
                            class=data-button
                            content="List of jump counts at<br>which the power will fork">
                      <img :src="asset_url('question-mark.png')"
                           alt="question-mark"
                           width=14 height=14 class="effect-icon">
                      </img>
                    </button>
                  </div>
                  <div class="table-cell table-value">{{power_data.chain_forks.join(", ") || "-"}}</div>
                </li>
              </ul>
            </div>
            <!--
            <h1 class=table-head>Power Restrictions</h1>
            <ul class=table-list>
              <li class=table-row>
                <div class="table-cell table-key break-spans">Ignores All <span>External Strength</span></div>
                <div class="table-cell table-value">{{power_data.ignore_strength ? 'True' : 'False' }}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key break-spans">Strengths <span>Disallowed</span></div>
                <div class="table-cell table-value">{{power_data.strengths_disallowed.join(", ") || "-"}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key">Global Strengths <span>Disallowed</span></div>
                <div class="table-cell table-value">{{power_data.global_strengths_disallowed.join(", ") || "-"}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key break-spans">Modes <span>Required</span></div>
                <div class="table-cell table-value">{{power_data.modes_required.join(", ") || "-"}}</div>
              </li>
              <li class=table-row>
                <div class="table-cell table-key break-spans">Modes <span>Disallowed</span></div>
                <div class="table-cell table-value">{{power_data.modes_disallowed.join(", ")}}</div>
              </li>
            </ul>
            -->
          </div>

          <div class=effects>
            <h1 class=table-head>Effects</h1>
            <div style="display:flex;">
              Show effects for Archetype:
              <at-picker :power_data="power_data"
                         :initial_at="query_at"
                         :freeform_classes="freeform_classes"
                         @selected-at-changed="switch_at">
              </at-picker>
              <b style="margin-right:0.5em">Level</b>
              <vue-slider
                v-model="display_level"
                :min="1"
                :max="max_display_level"
                :value="50"
                width="20em">
              </vue-slider>
              <input
                v-model.number.lazy="display_level"
                style="margin-left:1.0em; width:4em"
                placeholder="Level"
                type="number"
                @input=valid_level>

              <input type="checkbox" id="freeform-at" class="at-freeform" v-model="freeform_classes">
              <label for="checkbox">{{ freeform_classes ? "Uncheck for valid classes only" : "Check to allow any class" }}</label>

            </div>

            <!-- Redirects -->
            <div class=redirects v-if="power_data.redirect.length">
              <div class=table-row><b>Redirects</b></div>
              <ul class=table-list>
                <li class=table-row v-for="(redirect, index) in power_data.redirect">
                  <div class="table-cell table-value">
                    Redirect to
                    <a :href="power_url(redirect.name, query_at)">{{redirect.name}}</a><br/>
                    when <code>{{redirect.condition_expression}}</code>
                    <span v-if="index == power_data.redirect.length -1">
                      (Default if no others apply)
                    </span>
                  </div>
                </li>
              </ul>
            </div>

            <!-- Activation Effects list -->
            <div class=effects-list v-if="power_data.activation_effects.length">
              <div class=table-row><b>Activation Effects</b></div>
              <effect-tree v-for="effect in power_data.activation_effects"
                           v-if="effect.visbility_based_on_pvp_pve(pvp_or_pve)"
                           :is_activation=true :effect_data=effect
                           :query_at=query_at :at_tables=at_tables
                           :display_level=display_level :key="effect.id">
              </effect-tree>
            </div>
            <!-- Effects list -->
            <div class=effects-list v-if="power_data.effects.length">
              <div class=table-row><b>Standard Effects</b></div>
              <effect-tree v-for="effect in power_data.effects"
                           v-if="effect.visbility_based_on_pvp_pve(pvp_or_pve)"
                           :is_activation=false :effect_data=effect
                           :query_at=query_at :at_tables=at_tables
                           :display_level=display_level :key="effect.id">
              </effect-tree>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div v-show="show_raw_data">
      <hr/>
      <pre><code>{{power_data}}</code></pre>
    </div>
  </div>
  <div class="error-message cloaked" v-cloak v-if="!power_data">
    Data for power "{{power_path}}" not found.
  </div>
  <div v-if="!power_data" style="font-size:18px; padding:8px">
    <b>Enter a fully qualified power name</b><br/>
    <input v-model.trim="power_path"
           placeholder="category.powerset.power"
           v-on:keyup.enter="fetchData"
           :key="input_key"
           style="width:300px">
    <button type="button" id="get-data" @click="fetchData">Go!</button>
    <br><br>
  </div>
</div>
