<div id="archetype">
  <div class=content v-cloak v-if="ready">
    <h1 class=powerset-name>Archetype "{{at_data.display_name}}"</h1>
    <div v-if="at_data.display_short_help"
         class=short-desc>{{at_data.display_short_help}}</div>
    <div v-if="at_data.display_help"
         class=full_desc>{{at_data.display_help}}</div>
    <br v-if="at_data.display_short_help || at_data.display_help">

    <div class="main-data">

      <div class=details>
        <div class="at-powersets">
          <div>
            <h1 class="table-head table-at-power">Inherent Powers</h1>
            <ul class=table-list v-if="inherent_powers.length">
              <li class=table-row v-for="power_obj in inherent_powers" :key="power_obj.fullname">
                <div class="table-cell table-at-power">
                  <a :href="power_url(power_obj.fullname, class_key)">{{ power_obj.display }}</a>
                  <span v-if="power_dupes.get(power_obj.display) > 1">
                    ({{ power_obj.fullname.split(".")[2] }})
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <div>
            <h1 class="table-head table-at-power">Primary Powersets</h1>
            <ul class=table-list v-if="primary_powersets.length">
              <li class=table-row v-for="pset_obj in primary_powersets" :key="pset_obj.fullname">
                <div class="table-cell table-at-power">
                  <a :href="powerset_url(pset_obj.fullname, class_key)">{{ pset_obj.display }}</a>
                </div>
              </li>
            </ul>
          </div>
          <div>
            <h1 class="table-head table-at-power">Secondary Powersets</h1>
            <ul class=table-list v-if="secondary_powersets.length">
              <li class=table-row v-for="pset_obj in secondary_powersets" :key="pset_obj.fullname">
                <div class="table-cell table-at-power">
                  <a :href="powerset_url(pset_obj.fullname, class_key)">{{ pset_obj.display }}</a>
                </div>
              </li>
            </ul>
          </div>
          <div>
            <h1 class="table-head table-at-power">Pool Powersets</h1>
            <ul class=table-list v-if="pool_powersets.length">
              <li class=table-row v-for="pset_obj in pool_powersets" :key="pset_obj.fullname">
                <div class="table-cell table-at-power">
                  <a :href="powerset_url(pset_obj.fullname, class_key)">{{ pset_obj.display }}</a>
                </div>
              </li>
            </ul>
          </div>
          <div>
            <h1 class="table-head table-at-power">Epic Powersets</h1>
            <ul class=table-list v-if="epic_powersets.length">
              <li class=table-row v-for="pset_obj in epic_powersets" :key="pset_obj.fullname">
                <div class="table-cell table-at-power">
                  <a :href="powerset_url(pset_obj.fullname, class_key)">{{ pset_obj.display }}</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div v-show="show_raw_data">
      <hr/>
      <pre><code>{{at_data}}</code></pre>
    </div>
  </div>
</div>
