<div class=entity-picker>
  <search-picker v-if="ready"
                 :itemList="dropdown_data"
                 :placeholder="'Choose an Entity Name'"
                 @on-item-selected="setSelected($event)"
                 @picker-ready="picker_ready=true">
  </search-picker>
  <div v-if="!picker_ready" style="height:32px; line-height:32px">
    <strong>Loading search data...</strong>
    <img :src="asset_url('spinner.gif')" width=32 height=32 align="absmiddle">
  </div>
</div>
