<div id="settings">

  <div v-cloak
       class="settings-content flex-col">
    <span style="margin-bottom:0.4em; font-size:120%; font-weight:bold">
      <strong>Site-wide settings</strong>
    </span>
    <span style="margin-bottom:0.4em">
      Settings configured here will apply across other pages on the site. Most
      only apply to single pages, but there's not always great place on those
      pages to configre these settings. A few apply across multiple pages.
    </span>
    <span>
      Settings made here are persistent, but only apply on the browser where you
      set them, and for your current user if you use profiles in your browser.
      If you clear site data in the browser, the settings will revert to defaults.
    </span>
  </div>

  <div class=settings-content v-cloak>
    <input type="checkbox" id="display_100_pct" class="at-freeform" v-model="display_100_pct">
    <label for="display_100_pct">Show the chance a power effect will trigger even when it is 100%.</label>
  </div>

  <div class=settings-content v-cloak>
    <input type="checkbox" id="show_raw_data" class="at-freeform" v-model="show_raw_data">
    <label for="show_raw_data">Show raw subject data as JSON below the main section of pages.</label>
  </div>

  <div class=settings-content v-cloak>
    <input type="checkbox" id="show_pvp_and_pve" class="at-freeform" v-model="show_pvp_and_pve">
    <label for="show_pvp_and_pve">Always show both PvP and PvE effects. (Overrides the setting below.)</label>
  </div>

  <div class=settings-content v-cloak>
    <input type="checkbox" id="show_pvp_or_pve" class="at-freeform" v-model="show_pvp_or_pve">
    <label for="show_pvp_or_pve">Show only effects valid in PvP (if checked) or PvE (if unchecked).</label>
  </div>

  <div class=settings-content v-cloak>
    <div class=flex-row>
    <input type="checkbox" id="always_prefer_at_none" class="at-freeform" v-model="always_prefer_at_none">
    <label for="always_prefer_at_none">Always default to AT "None".(Overrides the setting below.)<br>
      Useful if your primary intention is to understand how powers derive their effect values.
    </label>
    </div>
  </div>

  <div class=settings-content v-cloak>
    <div class=flex-row>
      <select
          style="align-self:flex-start"
          v-model="preferred_default_at"
          id="preferred_default_at"
          ref=picklist>
        <option v-for="at in player_ats" :value="at">{{ display_name(at) }}</option>
      </select>
      <span style="margin-left:1em">
        Pick an archetype to use as the modifier display default on powers when
        it's not obvious from context (such as when coming from the AT selection
        screen) which one to use. The selected default AT will only be used when
        it's valid for the power in question. Picking "None" will display raw
        scales by default instead.
      </span>
    </div>
  </div>

  <div class=settings-content v-cloak>
    <div class=flex-row>
      <select
          style="align-self:flex-start"
          v-model="data_path"
          id="data_path">
        <option value="/homecoming">Homecoming</option>
        <option v-if="['cod.cohcb.com', 'cod.net.uber'].includes(location.hostname)"
                value="/cryptic">Cryptic</option>
      </select>
      <span style="margin-left:1em">
        Pick a server to display data for.
      </span>
    </div>
  </div>

</div>
