<div id="powerset">
  <div class=content v-cloak
       v-if="powerset_data">
    <div class=power-header>
      <div class=power-title>
        <h1 class=powerset-name>Powerset "{{powerset_data.display_fullname.split(".")[1]}}"
          <button v-tippy="TIPPY_INTERACTIVE"
                  class="data-button cod-theme"
                  :content="powerset_links">
            <img width="16px" height="16px"
                 :src="asset_url('link-icon.png')" alt="link-icon.png"/>
          </button>
        </h1>
      </div>
    </div>
    <div v-if="powerset_data.display_short_help"
         class=short-desc>{{powerset_data.display_short_help}}</div>
    <div v-if="powerset_data.display_help"
         class=full_desc>{{powerset_data.display_help}}</div>
    <br v-if="powerset_data.display_short_help || powerset_data.display_help">

    <div class="main-data">

      <div v-if="powerset_data.requires" class="table-row requires">
        <span class="table-cell"><strong>Requires:</strong> {{powerset_data.requires}}</span>
      </div>

      <div class=details>
        <h1 class=table-head>Powers</h1>
        <ul class=table-list v-if="powerset_data.power_names.length">
          <li class=table-row>
            <div class="table-cell table-level"><strong>Level<br>Available</strong></div>
            <div class="table-cell table-value"><strong>Power<br>Name</strong></div>
          </li>
          <li class=table-row v-for="entry in power_entries" :key="entry.fullName">
            <div class="table-cell table-level">{{entry.level || '‒'}}</div>
            <div class="table-cell table-value">
              <a :href="power_url(entry.fullName, query_at)">{{ entry.display }}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div v-show="show_raw_data">
      <hr/>
      <pre><code>{{powerset_data}}</code></pre>
    </div>
  </div>
</div>
