<!-- Don't show boosts allowed for boosts, because that's weird -->
<div v-if="show_allowed_boosts" class=boost-icon-wrapper>
  <span class=boost-icon-group>
    <img v-for="boost in boosts_allowed"
         :src="boost_icon_path(boost)"
         :alt="get_icon_name(boost)"
         :title="boost"
         width="40px"/>
  </span>
  <span class=boost-icon-group>
    <img v-for="category in allowed_boostset_cats"
         :src="boostset_icon_path(category)"
         :alt="get_icon_name(category)"
         :title="category + (category.endsWith('Sets') ? '' : ' Sets')"
         width="40px"/>
  </span>
</div>
