<div id="pvp-or-pve-checkbox" class="mod-icons-root">
  <div class=check-box title="Show PvP data">
    <label :for="name">
      <img :src="asset_url('user_icon_3.png')" width="20px" height="20px">
    </label>
    <input type="checkbox" v-bind.prop="state(id)" :id="name"
           @change="click_event()">
  </div>
</div>
