<div class=at-picker>
  <search-picker v-if="ready"
                 :itemList="dropdown_data"
                 :maxItems="16"
                 :initialItem="initial_value"
                 :placeholder="'Choose AT'"
                 :freeform_classes="freeform_classes"
                 @on-item-selected="setArchetype($event)">
  </search-picker>
</div>
