<div id="description-checkbox" class="mod-icons-root">
  <div class=check-box title="Toggle descriptions">
    <label :for="name">
      <img :src="asset_url('debug_icon.png')" width="20px" height="20px">
    </label>
    <input type="checkbox" v-model="checked" :id="name">
  </div>
</div>
