<div class="power-linker" style="display:flex; flex-direction:column">
  <span class="linker-title">Power Category</span>
  <a v-if="powercat.display" class=linker-link :href="powercat.urlTarget">{{powercat.display}}</a>
  <span v-else class=linker-link>Choose a power</span>
  <span class="linker-title">Power Set</span>
  <a v-if="powercat.display" class=linker-link :href="powerset.urlTarget">{{powerset.display}}</a>
  <span v-else class=linker-link>Choose a power</span>
  <span class="linker-title">Power</span>
  <a v-if="powercat.display" class=linker-link :href="power.urlTarget">{{power.display}}</a>
  <span v-else class=linker-link>Choose a power</span>
</div>
