<div id="at-mods">
  <div class=content v-cloak>
    <div v-if="ready" class=flex-row>
      <div class=picklist-container>
        <select
            v-model="currentAttrib"
            class=mod-list
            ref=picklist
            size=32>
          <option v-for="attrib in table_names">{{ attrib }}</option>
        </select>
      </div>
      <data-table
          :header-fields="headers"
          :data="rows"
          :isLoading="!ready">
        <div slot="spinner">
          Loading archetype data...
          <img :src="asset_url('spinner.gif')" width=32 height=32 align="absmiddle">
        </div>
      </data-table>
    </div>
  </div>
</div>
