<div class=effect-tree>
  <div class=effect-wrapper>
    <div class=effect-header>
      <span class="table-cell table-icons">
        <img v-if="is_pvp_only"
             :src="asset_url('user_bw_icon.png')"
             alt="PvP Only" title="PvP Only"
             width=16 height=16 class=icon></img>
        <img v-if="is_pve_only"
             :src="asset_url('world_bw_icon.png')"
             alt="PvE Only" title="PvE Only"
             width=16 height=16 class=icon></img>
        <img v-if="is_either_pve_or_pvp"
             :src="asset_url('any_icon.png')"
             alt="PvP or PvE" title="PvP or PvE"
             width=16 height=16 class=icon></img>
      </span>
      <span v-if="display_effect_chance(effect_data)"
            class="effect-chance">{{effect_data.effect_chance()}}</span>
      <effect-icons :effect_data="effect_data"></effect-icons>
    </div>
    <ul class="table-list">
      <li class=table-row>
        <ul class="table-list effect-group">
          <li v-for="(mod, index) in effect_data.sorted_mods()"
              :key="mod.id" :class="'table-row row-' + (index % 2 ? 'odd' : 'even')">
            <span class="table-cell table-icons">
              <img :src="asset_url('blank_icon.png')" width=16 height=16></img>
            </span>
            <div class="table-cell table-value">
              <div class="table-row">
                <span>{{display_attrmod(mod)}}</span>
                <span
                  v-if="at_tables && !data_defined(mod)"
                  class="undefined-warn">Undefined data!</span>
                <span class="mod-icons">
                  <mod-icons :attribmod_data="mod"></mod-icons>
                </span>
              </div>
              <div v-if="mod.type === 'Expression'" class=mod-subtext>
                <span v-if="mod.duration_expression">
                  Duration Expression: <code>{{mod.duration_expression}}</code>
                </span>
                <span v-if="mod.magnitude_expression">
                  Magnitude Expression: <code>{{magnitude_expression(mod)}}</code>
                </span>
              </div>
              <span class="bullet-list" v-for="reward in rewards(mod)">
                ●&nbsp;{{reward}}
              </span>
              <span v-if="entity_redirects(mod).length || (entity_summons(mod).length && has_power_list(mod))">
                &nbsp;...with the following powers:
              </span>
              <span class="bullet-list" v-for="redirect in entity_redirects(mod)">
                ●&nbsp;<a :href="power_url(redirect, query_at)">{{redirect}}</a>
              </span>
              <span class="bullet-list" v-for="entity in entity_summons(mod)">
                ●&nbsp;Entity <a :href="entity_url(entity)">{{entity}}</a>
              </span>
              <div v-if="has_power_list(mod)">
                <span class="bullet-list" v-for="(name, index) in mod.params.category_names">
                  ●&nbsp;<a :href="powercat_url(name, query_at)">{{name}}</a>
                </span>
                <span class="bullet-list" v-for="(name, index) in mod.params.powerset_names">
                  ●&nbsp;<a :href="powerset_url(name, query_at)">{{name}}</a>
                </span>
                <span class="bullet-list" v-for="(name, index) in mod.params.power_names">
                  ●&nbsp;<a :href="power_url(name, query_at)">{{name}}</a>
                </span>
              </div>
              <div v-if="mod.jit_requires">
                <hr class=small-rule>
                Requires: <code>{{mod.jit_requires}}</code>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Child Effects list -->
    <div class=table-row v-if="effect_data.has_children()">
      <strong style="font-size:80%">Child Effects</strong>
    </div>
    <effect-tree v-for="effect in effect_data.child_effects"
                 v-show="effect.visbility_based_on_pvp_pve(show_pvp_or_pve)"
                 :effect_data=effect :parent_data="effect_data"
                 :at_tables="at_tables" :show_pvp_or_pve:="show_pvp_or_pve"
                 :key="effect.id">
    </effect-tree>
    <div v-if="effect_data.requires_expression" class=requirement>
      <img :src="asset_url('blank_icon.png')" width=25 height=16></img>
      <span>if <code>{{effect_data.requires_expression}}</code></span>
    </div>

  </div>
  <div class=spacer-row></div>
</div>
