<div id="entity">
  <div class=content v-cloak v-if="ready">
    <div class=flex-row>
      <h1 class=powerset-name>Entity "{{display_name}}"</h1>
      <span class="entity-fullname">({{entity_data.name}})</span>
    </div>
    <div v-if="entity_data.group_description"
         class=short-desc>Group: {{entity_data.group_description}}</div>
    <div v-if="entity_data.description"
         class=full-desc>{{entity_data.description}}</div>
    <br>

    <div class="main-data">

      <div class="entity-details">

        <div class=entity-data>
          <h1 class=table-head>Entity Details</h1>
          <ul class=table-list>
            <li class=table-row>
              <div class="table-cell table-key">Clas Name</div>
              <div class="table-cell table-value">{{entity_data.character_class_name}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">Rank</div>
              <div class="table-cell table-value">{{entity_data.rank}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">AI Config</div>
              <div class="table-cell table-value">{{entity_data.ai_config}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">Commandable</div>
              <div class="table-cell table-value">{{entity_data.commandable_pet}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">Can Zone</div>
              <div class="table-cell table-value">{{entity_data.can_zone}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">Power Tags</div>
              <div class="table-cell table-value">{{entity_data.power_tags.join(", ") || "-"}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">Use Caster Mods</div>
              <div class="table-cell table-value">{{entity_data.copy_creator_mods}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">Use Combat Mods</div>
              <div class="table-cell table-value">{{entity_data.ignores_combat_mods}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">Level Ranges</div>
              <div class="table-cell table-value">{{level_ranges.join(", ") || "-"}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">Spawn Limit</div>
              <div class="table-cell table-value">{{entity_data.spawn_limit === -1 ? "None" : entity_data.spawn_limit}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">Mission Limit</div>
              <div class="table-cell table-value">{{entity_data.spawn_limit_mission === -1 ? "None" : entity_data.spawn_limit_mission}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">Reward Scale</div>
              <div class="table-cell table-value">{{entity_data.reward_scale}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">Game Exclusion</div>
              <div class="table-cell table-value">{{entity_data.game_exclusion}}</div>
            </li>
            <li class=table-row>
              <div class="table-cell table-key">AV/EB Scaling</div>
              <div class="table-cell table-value">{{!entity_data.ignore_av_to_eb_scaling}}</div>
            </li>
          </ul>
        </div>

        <div>&nbsp;</div>

        <div>
          <h1 class=table-head>Powers</h1>
          <ul class=table-list v-if="powers.length">
            <li class="table-row sub-heading">
              <div class="table-cell table-level"><strong>Level<br>Available</strong></div>
              <div class="table-cell table-entity-power"><strong>Power<br>Name</strong></div>
            </li>
            <li class=table-row v-for="power_obj in powers" :key="power_obj.fullname">
              <div class="table-cell table-level">{{power_obj.level + 1 || '‒'}}</div>
              <div class="table-cell table-entity-power">
                <a :href="power_url(power_obj.fullname, entity_data.character_class_name)">{{ power_obj.display }}</a>
                <span v-if="power_dupes.get(power_obj.display) > 1">
                  ({{ power_obj.fullname.split(".")[2] }})
                </span>
              </div>
            </li>
          </ul>
        </div>

        <div>&nbsp;</div>

        <div>
          <h1 class=table-head>Names by Level</h1>
          <ul class=table-list v-if="name_ranges">
            <li class="table-row sub-heading">
              <div class="table-cell table-level"><strong>Levels</strong></div>
              <div class="table-cell table-entity-power"><strong>Name</strong></div>
            </li>
            <li class=table-row v-for="name_range in name_ranges" :key="name_range[0]">
              <div class="table-cell table-level">{{name_range[0]}}</div>
              <div class="table-cell table-entity-power">{{name_range[1].join(",")}}</div>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div v-show="show_raw_data">
      <hr/>
      <pre><code>{{entity_data}}</code></pre>
    </div>
  </div>
</div>
