<div id=header>
  <div class=topbar>&nbsp;</div>
  <div class=header>
    <div class=title>
      <a style="color: inherit" :href="home_url()">City of Data v2.0</a>
    </div>
    <slot></slot>
    <div class="filler"></div>
    <span style="position:relative;">
      <div class="revision cloaked" v-cloak @click=pop @fade=pop>{{revision}}</div>
      <span class="popup flex-col hide" id=popup>
        <a v-if="showCryptic"
           href="javascript:void(0)" @click="toCryptic">Switch to Cryptic</a>
        <a v-if="showHomecoming"
           href="javascript:void(0)" @click="toHomecoming">Switch to Homecoming</a>
        <div class=popblock @click=unpop></div>
      </span>
    </span>
    <div>
      <a :href="help_url()">
        <img class=help-icon :src="asset_url('question-mark.png')">
      </a>
    </div>
    <div>
      <a :href="settings_url()">
        <img class=menu-icon :src="asset_url('menu.png')">
      </a>
    </div>
  </div>
</div>
