<div id="help">
  <div v-cloak class=flex-row>
    <div class="help-table ">
      <h3>Help Pages</h3>
      <a v-for="help_page in help_pages"
         target="help-frame"
         @click="onClick"
         :key="`${current_page}_${help_page.item}`"
         :id="help_page.item"
         :style="isCurrent(help_page.item) ? 'font-weight:900' : ''"
         :href="help_page.url">{{ help_page.name }}</a>
    </div>
    <div class=help-wrapper>
      <iframe
          class="help-frame"
          name="help-frame"
          ref="iframe"
          seamles=true
          :key="current_page"
          :src="help_url_raw(current_page)">
      </iframe>
    </div>
  </div>
</div>
