<div class=effect-icons>

  <button v-if="tagsContent"
          v-tippy="TIPPY_INTERACTIVE"
          class="data-button cod-theme"
          :content="tagsContent">
    <img :src="asset_url('tags.png')"
         alt="tags.png"
         width=16 height=16 class=effect-icon>
    </img>
  </button>

  <button v-if="radiusInnerContent"
          v-tippy="TIPPY_DEFAULTS"
          class="data-button cod-theme"
          :content="radiusInnerContent">
    <img :src="asset_url('radius-inner.png')"
         alt="radius-inner"
         width=16 height=16 class=effect-icon>
    </img>
  </button>

  <button v-if="radiusOuterContent"
          v-tippy="TIPPY_DEFAULTS"
          class="data-button cod-theme"
          :content="radiusOuterContent">
    <img :src="asset_url('radius-outer.png')"
         alt="radius-outer"
         width=16 height=16 class=effect-icon>
    </img>
  </button>

  <button v-if="mainTargetOnly"
          v-tippy="TIPPY_DEFAULTS"
          class="data-button cod-theme"
          content="Applies to only the main target">
    <img :src="asset_url('main-target.png')"
         alt="main-target"
         width=16 height=16 class=effect-icon>
    </img>
  </button>

  <button v-if="secondaryTargetsOnly"
          v-tippy="TIPPY_DEFAULTS"
          class="data-button cod-theme"
          content="Excludes the main target">
    <img :src="asset_url('secondary-targets.png')"
         alt="secondary-targets"
         width=16 height=16 class=effect-icon>
    </img>
  </button>

  <button v-if="hidden"
          v-tippy="TIPPY_DEFAULTS"
          class="data-button cod-theme"
          content="Hidden in in-game info">
    <img :src="asset_url('hidden.png')"
         alt="hidden"
         width=16 height=16 class=effect-icon>
    </img>
  </button>

  <!-- Content container -->
  <div style="display:none">

    <div ref=tags>
      <div class="tags-tip">
        <strong>Tags</strong>
        <a v-for="tag in filteredTags" :href="tag_url(tag, 'affects')">{{tag}}</a>
      </div>
    </div>

    <div ref=radiusInner>
      <div class="tags-tip">
        <div><b>Inner Radius: </b>{{effect_data.radius_inner}} ft</div>
      </div>
    </div>

    <div ref=radiusOuter>
      <div class="tags-tip">
        <div><b>Outer Radius: </b>{{effect_data.radius_outer}} ft</div>
      </div>
    </div>

  </div>

</div>
