<div id="boostset-groups">
  <div class=content v-cloak v-if="all_groups">

    <div v-if="group_name">
      <div class=flex-col>
        <div class="power-title flex-col">
          <h1 class=powerset-name>Boostset Group: {{group_display_name}}</h1>
          <div v-for="boost_set in group_members">
            <span v-if="boost_set[2] === boost_set[3]" class=level-range>
              ({{boost_set[2]}})
            </span>
            <span v-else class=level-range>
              ({{boost_set[2]}}-{{boost_set[3]}})
            </span>
             <a :href="boostset_url(boost_set[0])">{{boost_set[1]}}</a>
          </div>
        </div>
      </div>
      <hr style="border-top: 5px solid black; margin-top: 1.2em;">
    </div>

    <div class=power-title>
      <div class="flex-col">
        <h1 class=powerset-name>Boostset Groups</h1>
        <div class=boostset-groups>
          <div v-for="group in group_list" class=boostset-group>
            <a :href="group_url(group)">{{processed_groups[group].name}}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
